@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
}

.agent-description p {
  @apply text-gray-700 leading-relaxed mb-4;
}

.agent-description h3 {
  @apply text-lg font-semibold mt-4 text-gray-800;
}

.agent-description ul {
  @apply list-disc list-inside ml-4 mt-2;
}

.agent-description li {
  @apply text-gray-700 mb-2;
}

.agent-description strong {
  @apply font-semibold text-gray-900;
}